* {
  box-sizing: border-box;
}

#year{
    display:none;
}

.graphBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-around;
  min-height: 50vh;
  line-height: 1.5;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  color: white;
  background: #d6d6d6;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


@media (max-width: 690px) {
  .stats {
    width: 100%;
  }
}

.stats__header.active {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.stats__header-num {
  margin-right: 25px;
}
.stats__header-num p {
  font-size: 80px;
  margin: 0;
  font-weight: 700;
}
.stats__header-name p {
  color: #bababa;
  margin: 0;
  font-size: 18px;
}
.stats__header-name span {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.8;
}
.stats__item {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  float: left;
  position: relative;
  text-align: center;
  margin-right: 25px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.stats__item:nth-of-type(1) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.stats__item:nth-of-type(2) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.stats__item:nth-of-type(3) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.stats__item:nth-of-type(4) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.stats__item:nth-of-type(5) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.stats__item:nth-of-type(6) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.stats__item:nth-of-type(7) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.stats__item:nth-of-type(8) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.stats__item:nth-of-type(9) .stats__item-bar {
  height: 0px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.stats__item:nth-of-type(10) .stats__item-bar {
  height: 150px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.stats__item:last-child {
  margin-right: 0;
}
@media (max-width: 690px) {
  .stats__item {
    float: none;
    height: auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stats__item:nth-of-type(1) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .stats__item:nth-of-type(2) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .stats__item:nth-of-type(3) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .stats__item:nth-of-type(4) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .stats__item:nth-of-type(5) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .stats__item:nth-of-type(6) .stats__item-bar {
    width: 0;
    height: 0px;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .stats__item:nth-of-type(7) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  .stats__item:nth-of-type(8) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
   .stats__item:nth-of-type(9) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
    
   .stats__item:nth-of-type(10) .stats__item-bar {
    width: 0%;
    height: 0px;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
    
  .stats__item .stats__item-num {
    margin-right: 25px;
  }
}
.stats__item:hover {
  opacity: 0.7;
}
.stats__item-bar {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 0px;
  background: white;
  -webkit-transform: scaleY(0) translate3d(0, 0, 0);
          transform: scaleY(0) translate3d(0, 0, 0);
  cursor: pointer;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}
.stats__item-bar.active {
  -webkit-transform: none;
          transform: none;
}
.stats__item-num {
  margin-top: 25px;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.stats__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.stats__overlay.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}
@media (max-width: 690px) {
  .stats__overlay {
    padding: 12.5px;
  }
}
.stats__overlay-avg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background: #4c2e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-filter: drop-shadow(0px 5px px #000); 
    filter: drop-shadow(0px 5x 5px #000000);
    size:120%;
}
.stats__overlay-avg > p {
  margin: 0;
}
.stats__overlay-avg .avg {
  font-size: 100px;
  font-weight: 700;
}
@media (max-width: 690px) {
  .stats__overlay-avg {
    width: 240px;
    height: 240px;
  }
  .stats__overlay-avg .avg {
    font-size: 65px;
  }
}
.stats__overlay-info {
  position: absolute;
  bottom: 25px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 690px) {
  .stats__overlay-info {
    left: 25px;
  }
}
.stats__overlay-info-half {
  margin-right: 25px;
}
.stats__overlay-info-half p {
  margin: 0;
  line-height: 1.2;
}
.stats__overlay-info-half p:first-child {
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 690px) {
  .stats__overlay-info-half p:first-child {
    font-size: 24px;
  }
}
.stats__overlay-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.stats__overlay-back > svg {
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.stats__overlay-back:hover > svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
.stats__overlay-back p {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 0 12.5px;
}
@media (max-width: 800px) {
  .stats__overlay-back p {
    font-size: 18px;
  }
}

.skills{
    background-color:#595959;
    text-align: center;
    margin:25px;
    margin-left: -25px;
    padding-top: 23px;
    min-width:100px;
    min-height: 100px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}
.mFizzIcon{
    background-color:#595959;
    text-align: center;
    margin:25px;
    margin-left: -25px;
    padding-left:10px;
    min-width:100px;
    height: 100px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}

.BootstrapIcon{
    background-color:#595959;
    text-align: center;
    margin:25px;
    margin-left: -25px;
    padding-top:16px;
    min-width:100px;
    height: 100px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}

.textMove{
    position:relative;
    top:-10px;
    left:-4px;
}
.textMove2{
    position:relative;
    top: -8px;
  
}
.phpIcon{
    background-color:#595959;
    text-align: center;
    margin:25px;
    margin-left: -25px;
    padding-top:20px;
    padding-left:8px;
    min-width:100px;
    height: 100px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
    
}

.jqIcon{
   background-color:#595959;
    text-align: center;
    margin:25px;
    margin-left: -25px;
    padding-top:20px;
    padding-left:8px;
    min-width:100px;
    height: 100px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);  
    
}

.textMove3{
        position:relative;
    top:-12px;
    left:-4px;
}
